
<nav class="navbar navbar-light justify-content-between" style="background-color: #ffffff;">

  <a class="navbar-brand">🍹 Pink Lady Cocktails</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>

</nav>
  <div class = "navbar-divider"></div>
<p>Find your favorite cocktail recipes below.</p>


<div class="container">
  <div class="row ">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-4 mb-4 d-flex justify-content-around">
        <div class="card " style="width: 18rem;">
          <img class="card-img-top" src="https://picsum.photos/seed/picsum/70/35" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title font-weight-bold"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
              <ul class="list-unstyled list-inline rating mb-0">
                <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
                <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
                <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
              </ul>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Edit Cocktail</a>
          </div>
        </div>      
      </div>
    <% end %>
  </div>
  <%= link_to 'Create New Cocktails', new_cocktail_path,  class: "btn btn-primary" %>
</div>
