<link rel="icon" href="/favicon.ico" type="image/x-icon" />

<%# <div class = "navbar-divider"></div>%>

<div class="container">
<h1 class="my-5">Find your favorite cocktail recipes!</h1>
<%= link_to 'Create New Cocktails', new_cocktail_path,  class: "btn btn-dark btn-lg mb-3  " %>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 mb-3 justify-content-around">
        <div class="card " style="width: 16rem;">
          <% if cocktail.photo.present? %>
            <%= cl_image_tag cocktail.photo.key, height: 150, width: 255, crop: :fill %>
            <% else %>
              <%= image_tag("drinks_geral.jpg", size: "255x150")%>
            <% end %>
          <div class="card-body">
            <h5 class="card-title font-weight-bold"><%= link_to cocktail.name, cocktail_path(cocktail)%></h5>
              <ul class="list-unstyled list-inline rating mb-0">
                <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
                <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
                <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
              </ul>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-dark btn-sm">Edit Cocktail</a>
          </div>
        </div>      
      </div>
    <% end %>
  </div>
</div>

