// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html,
body {
 margin:0px;
 padding: 0px;
 height:100%;
 background-color: #fdfdfd;

}

.navbar-divider {
  width: 100%;
  height: 1px;
  margin: 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}